{% extends "base.html" %}

{% block title %}記事生成一覧{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/articleSelection.css') }}">

<div class="button-container">
    <a href="{{ url_for('routes.featureArticles') }}" class="button">選り抜き記事生成</a>
    <a href="{{ url_for('routes.dailyImages') }}" class="button">今日の一枚生成</a>
    <a href="{{ url_for('routes.dailyEvents') }}" class="button">今日は何の日生成</a>
    <a href="{{ url_for('routes.create_profile') }}" class="button">歴史生成</a>
</div>
{% endblock %}
