
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/createProfile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" sizes="16x16 32x32 48x48 64x64">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <div class="header-left">
            <div class="logo"><a href="{{ url_for('routes.home') }}"><img src="{{ url_for('static', filename='img/Logo.svg') }}" alt="Logo"></a></div>
        </div>
        <form action="{{ url_for('routes.search') }}" method="GET" class="search-box">
            <input type="text" name="name" placeholder="Pachipedia内を検索">
            <button type="submit">検索</button>
        </form>
        <div class="header-others">
            {% if current_user.is_authenticated %}
                <p>{{ current_user.name }}</p>
                <a href="{{ url_for('routes.articleSelection') }}">記事生成一覧</a>
                <a href="{{ url_for('routes.logout') }}">ログアウト</a>
            {% else %}
                <a href="{{ url_for('routes.login') }}">ログイン</a>
                <a href="{{ url_for('routes.signup') }}">新規作成</a>
            {% endif %}
        </div>
    </header>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
    
    <main>
        {% block content %}{% endblock %}
    </main>
    
    <footer>
        <p>テキストはクリエイティブ・コモンズ 表示-継承ライセンスのもとで利用できます。追加の条件が適用される場合があります。詳細については利用規約を参照してください。</p>
        <div class="a-footer">
            <a href="#">プライバシー・ポリシー</a>
            <a href="#">ウィキペディアについて</a>
            <a href="#">免責事項</a>
            <a href="#">行動規範</a>
            <a href="#">開発者</a>
            <a href="#">統計</a>
            <a href="#">Cookieに関する声明</a>
            <a href="#">モバイルビュー</a>
        </div>
    </footer>
    <script>
        // フラッシュメッセージを一定時間後に非表示にする
        setTimeout(function() {
            var flashMessages = document.querySelectorAll('.flash-message');
            flashMessages.forEach(function(message) {
                message.classList.add('hide');
            });
        }, 1000); // 5秒後に非表示にする
    </script>
</body>
</html>
