{% extends "base.html" %}

{% block title %}今日は何の日生成{% endblock %}

{% block content %}
<div class="create-featured-article-container">
    <h1>今日は何の日を生成</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="full_year">年代</label><br>
            <select name="full_year" id="full_year" onchange="updateDate()">
                <option value="" selected disabled>選択してください</option>
                {% for year in range(2100, -2000, -1) %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select><br>
        </div>
        <div class="form-group">
            <label for="date">日付</label><br>
            <input type="date" name="date" id="date" required><br>
        </div>
        <div class="form-group">
            <label for="event">出来事</label><br>
            <textarea name="event" id="event" required></textarea><br>
        </div>
        <input type="submit" value="作成">
    </form>
</div>

<script>
    function updateDate() {
        var fullYearSelect = document.getElementById('full_year');
        var dateInput = document.getElementById('date');

        var selectedYear = parseInt(fullYearSelect.value);

        if (!isNaN(selectedYear)) {
            var currentDate = new Date(dateInput.value);
            currentDate.setFullYear(selectedYear);
            // Adjust the month and day to avoid defaulting to 12/31
            if (currentDate.getMonth() === 11 && currentDate.getDate() === 31) {
                currentDate.setMonth(0);
                currentDate.setDate(1);
            }
            dateInput.value = currentDate.toISOString().split('T')[0];
        }
    }
</script>
{% endblock %}
