{% extends "base.html" %}

{% block title %}今日は何の日生成{% endblock %}

{% block content %}
<div class="create-featured-article-container">
    <h1>今日は何の日を生成</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="century">年代</label><br>
            <select name="century" id="century" onchange="updateYearOfCentury()">
                <option value="" selected disabled>選択してください</option>
                {% for century in range(0, 2100, 100) %}
                    <option value="{{ century }}">{{ century }}</option>
                {% endfor %}
            </select><br>
        </div>
        <div class="form-group">
            <label for="yearOfCentury">年</label><br>
            <select name="yearOfCentury" id="yearOfCentury" onchange="updateDate()">
                <option value="" selected disabled>選択してください</option>
            </select><br>
        </div>
        <div class="form-group">
            <label for="date">日付</label><br>
            <input type="date" name="date" id="date" required onchange="updateFullDate()"><br>
        </div>
        <div class="form-group">
            <label for="event">出来事</label><br>
            <textarea name="event" id="event" required></textarea><br>
        </div>
        <input type="hidden" name="full_year" id="full_year">
        <input type="hidden" name="full_date" id="full_date">
        <input type="submit" value="作成">
    </form>
</div>

<script>
    function updateYearOfCentury() {
        var centurySelect = document.getElementById('century');
        var yearOfCenturySelect = document.getElementById('yearOfCentury');
        var selectedCentury = parseInt(centurySelect.value);
            
        yearOfCenturySelect.innerHTML = '';
            
        for (var i = 0; i < 100; i++) {
            var year = selectedCentury + i;
            var option = document.createElement('option');
            option.value = i;
            option.text = year;
            yearOfCenturySelect.appendChild(option);
        }

        // デフォルトで最初の年（selectedCentury + 0）を選択する
        yearOfCenturySelect.value = 0;
        updateFullDate();
    }

    function updateDate() {
        updateFullDate();
    }

    function updateFullDate() {
        var century = document.getElementById('century').value;
        var yearOfCentury = document.getElementById('yearOfCentury').value;
        var date = document.getElementById('date').value;
        var fullYear = parseInt(century) + parseInt(yearOfCentury);
        document.getElementById('full_year').value = fullYear;
        if (date) {
            document.getElementById('full_date').value = fullYear + '-' + date.slice(5);
        }
    }
</script>
{% endblock %}
