{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block content %}
<div class="login-container">
    <h1>ログイン</h1>
    <div class="languages">
        <a href="#">Deutsch</a> | 
        <a href="#">English</a> | 
        <a href="#">Esperanto</a> | 
        <a href="#">français</a> | 
        <a href="#">español</a> | 
        <a href="#">italiano</a> | 
        <a href="#">Nederlands</a>
      </div>
      {% if error %}
    <p style="color: red;">{{ error }}</p>
    <a href="{{ url_for('login') }}">トップに戻る</a>
    {% endif %}
    <form action="/login" method="post">
        <label for="email">メールアドレス:</label>
        <input type="text" id="email" name="email" required>

        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required>
        
        <input type="submit" value="ログイン">
    </form>
    <div class="links">
        <a href="#">アカウントを作成</a> | <a href="#">パスワードを忘れましたか?</a>
    </div>
</div>
{% endblock %}
