{% extends "base.html" %}

{% block title %}プロフィール{% endblock %}

{% block content %}

<div class="main">
  <aside class="table-of-contents">
    <div class="tab">
      <p class="bold-text">目次</p>
      <p class="background-highlight">非表示</p>
    </div>
    <hr>
    <ul class="sideber">
      <li>ページ先頭</li>
      <li>生い立ち</li>
      <li>死没</li>
      <li>その他</li>
    </ul>
  </aside>

  <div class="content">
    <h1 id="name">{{ profile.name }}</h1>
    <hr>
    <div class="content-header-bottom">
      <div class="header-buttons">
        <div class="left-buttons">
          <p class="active-tab">ページ</p>
          <p>ノート</p>
        </div>
        <div class="right-buttons">
          <p class="active-tab">閲覧</p>
          <p>編集</p>
          <p>履歴表示</p>
          <p>ツール</p>
        </div>
      </div>
    </div>
    <hr>

    <div class="user-story">
      <div class="user-story-details">
        <p>出典: なんとなく百科事典『パチペディア（Pachipedia）』</p>
        <div class="others">
          <div class="section-title">Others</div>
          <p>{{ profile.others }}</p>
        </div>
        <div class="section">
          <h3>生涯</h3>
          <p class="edit-link">[ 編集 ]</p>
        </div>
        <hr>
        <div class="section">
          <h4>生い立ち</h4>
          <p class="edit-link">[ 編集 ]</p>
        </div>
        <hr class="section-divider">
        <p id="upbringing">{{ profile.upbringing }}</p>
        <div class="section">
          <h4>死去</h4>
          <p class="edit-link">[ 編集 ]</p>
        </div>
        <hr class="section-divider">
        <p id="deathDetails">{{ profile.death_details }}</p>
      </div>
      <div class="user-list">
        <h2 class="name">{{ profile.name }}</h2>
        <div class="user-picture"><img src="{{ profile.image_url }}" alt="User Picture"></div>
        <div class="details">
          <table class="details-list">
            <tr>
              <td class="bold-text">誕生</td>
              <td>{{ profile.birth }}</td>
            </tr>
            <tr>
              <td class="bold-text">死没</td>
              <td>{{ profile.death }}</td>
            </tr>
            <tr>
              <td class="bold-text">墓地</td>
              <td>{{ profile.cemetery }}</td>
            </tr>
            <tr>
              <td class="bold-text">職業</td>
              <td>{{ profile.business }}</td>
            </tr>
            <tr>
              <td class="bold-text">言語</td>
              <td>{{ profile.language }}</td>
            </tr>
            <tr>
              <td class="bold-text">国籍</td>
              <td>{{ profile.nationality }}</td>
            </tr>
            <tr>
              <td class="bold-text">教育</td>
              <td>{{ profile.education }}</td>
            </tr>
            <tr>
              <td class="bold-text">最終学歴</td>
              <td>{{ profile.last_education }}</td>
            </tr>
            <tr>
              <td class="bold-text">活動期間</td>
              <td>{{ profile.period_of_activity }}</td>
            </tr>
            <tr>
              <td class="bold-text">ジャンル</td>
              <td>{{ profile.genre }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="main-divider">

{% endblock %}
