{% extends "base.html" %}

{% block title %}検索結果{% endblock %}

{% block head %}
<meta name="description" content="作成した記事や歴史を検索するページです。">
<meta name="keywords" content="歴史, 架空, 検索, 今日の1枚, 選り抜き記事参照, 記事参照, パチペディア">
{% endblock %}

{% block content %}
<div class="history-list">
    <h1>検索結果</h1>
    <ul>
        {% for profile in profiles %}
        <li>
            <a href="{{ url_for('routes.viewProfile', id=profile.id) }}">
                <img src="{{ profile.image_url }}" alt="{{ profile.name }}" width="100">
                <div>
                    <h2>{{ profile.name }}</h2>
                    <p>{{ profile.birth }}</p>
                </div>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
